* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: radial-gradient(#fff, #f1dddd);
}

html{
  scroll-behavior: smooth;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  color: aqua;
}

nav {
  flex: 1;
  text-align: right;
  color: aqua;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  color: aqua;
}

nav li {
  display: inline-block;
  margin-right: 60px;
  background: rgb(255, 129, 91);
  padding: 0.3rem 1rem; 
  border-radius: 7px;
}

nav li:hover{
  background: aqua;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

#MenuItems{
  color:aqua;
    text-decoration: none;
    margin-right: 6rem;
    font-size: 25px;
    transition: all 0.3s ease;
}


.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  color: white;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

/* .header {
  background: radial-gradient(#FFFFFFF, #FFFFFF);
} */

.header .row {
  margin-top: 70px;
}

.categories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  margin: auto;
}

.col-3 img {
  width: 100%
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transfrom 1s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}

.title::after {
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50);
}

h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 14px;
}

.rating .fa {
  color: #ff523b;
}

.col-4:hover {
  transform: translateY(-20px);
}

/* -----offer----- */
.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: #555;
}

/* testimonial */

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform(1s);
  background-color: #ffff;
}

.testimonial .col-3 img {
  width: 50px;
  margin-top: 20px;
  border-radius: 50%;
}

.testimonial .col-3:hover {
  transform: translateY(-25px);
}

.fa.fa-quote-left {
  font-size: 34px;
  color: #ff523b;
}

.col-3 {
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.brands {
  margin: 100px auto;
}

.col-5 {
  width: 160px;
}

.col-5 img {
  width: 100px;
  cursor: pointer;
  filter: grayscale(100%)
}

.col-5 img:hover {
  filter: grayscale(0%);
}

/* footer */

.footer {
  background: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}

.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  text-decoration-style: none;
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  display: flex;
  width: 140px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
}

.copyright {
  margin-top: 50px;
  text-align: center;
}

.horizontal-line {
  color: #ff523b;
}

.store-2 {
  margin-top: 5px;
}

.footer-col-2 img {
  color: #000000;
}

.menu-icon {
  width: 28px;
  height: 28px;
  padding: 4px;
  display: none;
}

section.contact h1{
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
section.contact p{
  text-align: center;
}
section.contact{
  flex-direction: column;
}
section.contact .card-wrapper{
  text-align: center;
}
section.contact .card-wrapper .card img{
  margin-bottom: 0.3rem;
  margin-top: -10rem;
}
section.contact .card-wrapper .card h1{
  font-family: lato;
  font-weight: 400;
  font-size: 1.4rem;
}
section.contact .card-wrapper .card h6{
  font-size: 1rem;
  font-family: poppins;
  color: var(--ternary);
}

section.contact .input-wrap{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1.4rem;
  margin-bottom: 1.4rem;
  margin-top: 5rem;
}
section.contact .input-wrap-2{
  display: flex;
  flex-direction: column;
}
section.contact .input-wrap-2 input{
  margin-bottom: 1.4rem;
  border: 0.5px solid #696969;
}
section.contact input{
  padding: 0.8rem;
  border: 0.5px solid #696969;

}
section.contact .input-wrap-2 textarea{
  padding: 0.8rem;
  border: 0.5px solid #696969;
  margin-bottom: 1rem;
}

section.contact .btn-wrapper{
  text-align: center;
}

#status{
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
  margin-top: 20px;
  font-family: poppins, lato;
  font-size: 20px;
}
#status.success{
  background-color: rgb(117, 217, 117);
  animation: status 4s ease forwards;
}
#status.error{
  background-color: red;
  animation: status 4s ease forwards;
}


/* media query for menu */
@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 100px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: fff;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
}

/* media query for less than 600px */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }

  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }

  .footer-col-1,
  .footer-col-2,
  .footer-col-3,
  .footer-col-4 {
    align-items: center;
    align-content: center;
    flex-basis: 100%;
  }

  .footer-col-1 img {
    width: 80%;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .footer-col-4 {
    align-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap
  }
}
